a { color:#0280E1; } 
a:visited { color:#0280E1; } 
a:active { color:#0280E1; } 
a:hover { color:#B2B3B4; } 
#menu_75de1b49 a { text-decoration: none; }
#menu_75de1b49_pane { background-color: #FFFFFF; border: 1px solid #646464; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_75de1b49_hr { background-color: #646464; height: 1px; border: none; }
#menu_75de1b49_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_75de1b49_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_75de1b49_entry:hover span { color:#FFFFFF !important; }
		.menu_75de1b49_mainMenuEntry { text-align: center; }
		.menu_75de1b49_mainMenuEntry:hover {	background-color:#FFFFFF; }
		.menu_75de1b49_mainMenuEntry:hover span {	color:#808080 !important; }
		#menu_75de1b49 .mobileEntry { display: none; } 
		#menu_75de1b49 .normalEntry { display: block; } 
		@media only screen and (max-width:640px) { 
			#menu_75de1b49 .mobileEntry { display: block; } 
			#menu_75de1b49 .normalEntry { display: none; } 
		}
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_182db28 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1200px; background:none;  }
#container_182db28_padding { margin: 10px; display: block;  }
#container_1d3ef07d { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:65px; background:none;  }
#container_1d3ef07d_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:left; }
#container_388dafed { vertical-align: top; position:relative; display: inline-block; width:39%; min-height:57px; background:none;  }
#container_388dafed_padding { margin: 10px; display: block;  }
.textstyle3 { font-size:18pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#565656; font-weight:bold;  }
#container_66ca5416 { vertical-align: top; position:relative; display: inline-block; width:60%; min-height:45px; background:none;  }
#container_66ca5416_padding { margin: 10px; display: block;  }
.textstyle4 { text-align:right; }
#menu_75de1b49 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:38px; text-align:left; background:none;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.style1 { position:absolute; width:47px; height:38px; left:10px;  }
.style2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:45px;  }
.textstyle5 { font-size:28pt; font-family:Tahoma, Geneva, sans-serif; color:#000000;  white-space: nowrap; }
.style3 { position:absolute; width:61px; height:38px; left:10px;  }
.style4 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:22px;  }
.textstyle6 { font-size:12pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.style5 { position:absolute; width:61px; height:38px; left:71px;  }
.style6 { position:absolute; width:75px; height:38px; left:132px;  }
.textstyle7 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
#container_2572aa03 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:212px; background-color:#FFFFFF; background-image: url(rc_images/business_medium.jpg); background-position:center center; background-size:cover;  }
#container_2572aa03_padding { margin: 10px; display: block;  }
.textstyle8 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_6409f847 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:rgba(255, 255, 255, 0.498039);  }
#container_6409f847_padding { margin: 10px; display: block;  }
.textstyle9 { font-size:32pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#222222; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.784314);  }
.textstyle10 { font-size:26pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.784314);  }
.textstyle11 { font-size:32pt; font-family:Tahoma, Geneva, sans-serif; color:#20242E;  }
.textstyle12 { font-size:15pt; font-family:Tahoma, Geneva, sans-serif; color:#20242E; line-height: 1.5;  }
.textstyle13 { font-size:15pt; font-family:Tahoma, Geneva, sans-serif; color:#20242E;  }
#container_101b899d { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#20242E;  }
#container_101b899d_padding { margin: 10px; display: block;  }
@media only screen and (max-width: 640px)
{
		#container_388dafed * span { font-size:15pt;  }
		#menu_75de1b49 { width:150px;  }
		#container_6409f847 * span { font-size:24pt;  }
}
