a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_52599920 a { text-decoration: none; }
#menu_52599920_pane { background-color: #302F30; border: 1px solid #646464; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_52599920_hr { background-color: #646464; height: 1px; border: none; }
#menu_52599920_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_52599920_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_52599920_entry:hover span { color:#FFFFFF !important; }
		.menu_52599920_mainMenuEntry { text-align: center; }
		.menu_52599920_mainMenuEntry:hover {	background-color:#282828; }
		.menu_52599920_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_52599920 .mobileEntry { display: none; } 
		#menu_52599920 .normalEntry { display: block; } 
		@media only screen and (max-width:500px) { 
			#menu_52599920 .mobileEntry { display: block; } 
			#menu_52599920 .normalEntry { display: none; } 
		}
body { background-color:#7C7C7C; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_66793a4f { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:41px; max-width:1000px; background-color:#514538;  }
#container_66793a4f_padding { margin: 5px; display: block;  }
.textstyle2 { text-align:left; }
#menu_52599920 { vertical-align: bottom; position:relative; display: inline-block; width:70%; height:38px; text-align:left; background:none;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.style1 { position:absolute; width:42px; height:38px; left:10px;  }
.style2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:42px;  }
.textstyle3 { font-size:28pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  white-space: nowrap; }
.style3 { position:absolute; width:83px; height:38px; left:10px;  }
.style4 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:24px;  }
.textstyle4 { font-size:14pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#FFFFFF;  white-space: nowrap; }
.textstyle5 { font-size:10pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#FFFFFF;  white-space: nowrap; }
.style5 { position:absolute; width:106px; height:38px; left:93px;  }
.style6 { position:absolute; width:99px; height:38px; left:199px;  }
#container_598df6e9 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:293px; max-width:1000px; background-color:#FFFFFF; background-image: url(rc_images/food.jpg); background-position:bottom left; background-size:cover;  }
#container_598df6e9_padding { margin: 10px; display: block;  }
#container_19e12fcd { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:800px; background-color:rgba(62, 62, 62, 0);  }
#container_19e12fcd_padding { margin: 10px; display: block;  }
.textstyle6 { font-size:26pt; font-family:'Times New Roman', Times, serif; color:#F1EFED; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.980392);  }
.textstyle7 { font-size:26pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#F1EFED; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.980392);  }
#button_2ec6aff6 { vertical-align: bottom; position:relative; display: inline-block; width:150px; height:40px; background-color:#F37B15; box-shadow: 7px 7px 4px -5px rgba(0, 0, 0, 0.784314);  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle8 { font-size:12pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
#button_1f38b4ae { vertical-align: bottom; position:relative; display: inline-block; width:150px; height:40px; background-color:#F37B15; box-shadow: 7px 7px 4px -5px rgba(0, 0, 0, 0.784314);  }
#container_2ec39e67 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1000px; background-color:#514538;  }
#container_2ec39e67_padding { margin: 10px; display: block;  }
#container_3a292b5c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_3a292b5c_padding { margin: 10px; display: block;  }
#container_58465b21 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_58465b21_padding { margin: 10px; display: block;  }
.textstyle9 { font-size:14pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#D0C2B4; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.392157);  }
#container_12077a6 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_12077a6_padding { margin: 10px; display: block;  }
#container_11886076 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_11886076_padding { margin: 10px; display: block;  }
.textstyle10 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_4a7be9cd { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_4a7be9cd_padding { margin: 10px; display: block;  }
#container_78c153f2 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_78c153f2_padding { margin: 10px; display: block;  }
.textstyle11 { font-size:12pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#D0C2B4;  }
#container_3bc8471a { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_3bc8471a_padding { margin: 10px; display: block;  }
#container_51249159 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_51249159_padding { margin: 10px; display: block;  }
@media only screen and (max-width: 600px)
{
		#container_58465b21 { width:100%;  }
		#container_12077a6 { width:100%;  }
		#container_11886076 { width:100%;  }
}
@media only screen and (max-width: 450px)
{
		#container_78c153f2 { width:100%;  }
		#container_3bc8471a { width:100%;  }
		#container_51249159 { width:100%;  }
}
